@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  .menu-icon-container {
    @apply flex items-center justify-center
    sm:h-10 sm:w-10
    md:h-16 md:w-16
  
  }
  .menu-icon {
    @apply 
    text-3xl
    xl:text-4xl
  }
  .menu-text {
    @apply text-xs ml-0 text-darkLeftBarText flex items-center justify-center
    sm:text-sm 
    md:ml-0 
    lg:text-base lg:ml-2
    xl:text-xl xl:ml-4
  }
  .editableDiv {
    @apply hover:cursor-text  text-white outline-none whitespace-pre-wrap;
  }
  .noteBoarder {
    @apply border-[1px] border-gray-400 rounded-lg;
  }
  .icon-hover {
    @apply border-8 border-transparent rounded-full hover:bg-darkHoverCircle hover:border-darkHoverCircle;
  }
  .icon-position {
    @apply absolute right-3 top-3;
  }
}
