@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  .menu-icon {
    @apply text-lg
    sm:text-2xl
    md:text-2xl
    lg:text-3xl;
  }
  .menu-text {
    @apply text-xs ml-0 text-darkLeftBarText flex items-center justify-center
    sm:text-sm 
    md:ml-4 
    lg:text-base lg:ml-6
    xl:text-lg
  }
  .editableDiv {
    @apply hover:cursor-text  text-white outline-none whitespace-pre-wrap;
  }
  .noteBoarder {
    @apply border-[1px] border-gray-400 rounded-lg;
  }
  .icon-hover {
    @apply border-8 border-transparent rounded-full hover:bg-darkHoverCircle hover:border-darkHoverCircle;
  }
  .icon-position {
    @apply absolute right-3 top-3;
  }
}
